.resetformcontainer{
    height: 380px;
    width: 350px;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    background-color: white;
}

.formheading{
    margin: 30px 30px;
    float: left;

}
.formdatainput{
    margin: 20px;
}

#resetpassbtn{
    margin: 30px 30px;
}

.container{
    margin: 90px;
}