.forgotPasswordController{
    height: 380px;
    width: 350px;
    margin: auto;
    text-align: center;
    border: 1px solid rgb(41, 38, 38);
      border-radius: 10px;
      background-color: rgba(1, 32, 93, 0.6);
}

.forgotPasswordPage{
    background-image: url('../../../public/employeems.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.backToLogin{
    text-decoration: none;
    cursor: pointer;

}
 
.backToLogin:hover{
    color: white;
}

.backToresetpass{
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
}
.backToresetpass:hover{
    color: white;
}

.sendotp{
    margin-bottom: 30px;
}